<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
	</head>

	<body onload="init()">
		<header><%- include('./partials/nav'); %></header>
		<section class="container">
			<form action="/upload" method="POST" enctype="multipart/form-data">
				<p>Please upload CSV file</p>
				<input type="file" name="csvFile" accept=".csv" />
				<button type="submit">Upload</button>
			</form>
		</section>
	</body>
</html>
